apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "tic-tac-chart.fullname" . }}--v2
  labels:
    app: tic-tac-app
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: tic-tac-app
  template:
    metadata:
      labels:
        app: tic-tac-app
    spec:
      containers:
        - name: {{ include "tic-tac-chart.name" . }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - containerPort: 80
              name: http
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
          livenessProbe:
            httpGet:
              path: {{ .Values.livenessProbe.path }}
              port: {{ .Values.livenessProbe.port }}
            initialDelaySeconds: {{ .Values.livenessProbe.initialDelaySeconds }}
            periodSeconds: {{ .Values.livenessProbe.periodSeconds }}
          readinessProbe:
            httpGet:
              path: {{ .Values.readinessProbe.path }}
              port: {{ .Values.readinessProbe.port }}
            initialDelaySeconds: {{ .Values.readinessProbe.initialDelaySeconds }}
            periodSeconds: {{ .Values.readinessProbe.periodSeconds }}
        - name: metrics
          image: bader1937/tic-tac-metrics:latest  # build an image with server/metrics.js
          ports:
            - containerPort: 8082
              name: metrics