apiVersion: v1
kind: Service
metadata:
  name: {{ include "tic-tac-chart.fullname" . }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: 80
      protocol: TCP
      name: http
    - port: 8082
      targetPort: 8082
      protocol: TCP
      name: metrics
  selector:
    app: tic-tac-app
