replicaCount: 1

image:
  repository: docker.io/bader1937/tic-tac-game
  tag: sha-0e373a2dd53fe38e575febd9ac6d2590893925d4
  pullPolicy: Always

service:
  type: ClusterIP
  port: 80

containerPort: 80

resources:
  limits:
    cpu: "500m"
    memory: "512Mi"
  requests:
    cpu: "200m"
    memory: "256Mi"

serviceAccount:
  create: false

livenessProbe:
  path: /
  port: 80
  initialDelaySeconds: 10
  periodSeconds: 10

readinessProbe:
  path: /
  port: 80
  initialDelaySeconds: 5
  periodSeconds: 5

monitoring:
  enabled: true
  interval: 15s
